snippet "\b(def|sub|func(tion)?)$" "Function" r
# FUNC $1 {{{

DestroyFunc $1
AddToFunc ${1:function_name}
+ ${2:I} ${0:do spme stuff}

# }}}
endsnippet



snippet menu
# MENU: $1 {{{

DestroyMenu $1
AddToMenu ${1:menu_name}
+ ${0:'menu_item'		do_some_stuff}

# }}}
endsnippet



snippet key
Key ${1:key_name}				${2:context}	${3:modifier}	${0:what to do?}
endsnippet



snippet mouse
Mouse ${1:button}					${2:context}	${3:modifier}	${0:what to do?}
endsnippet
